/*Survivor CSS file*/

div#wrapper {width: 728px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px; }


/*font details*/

@font-face {font-family: 'survivant.regular';
	src: url(survivant.regular.ttf);
	font-weight: normal;
	font-style: normal; }

body { font-family: verdana, arial, sans-serif; 
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: #FFFFFF; 
	background: black url(images/torch2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom; }


a {color: #FFF12E; 
	font-weight: bold;
	text-decoration: none; }

a:visited {color: #3D4ACC; }
a:hover, a:focus, a:active {background-color: #fff5e8;
				color: #800080;}


/*background*/


background {color: #0D0D0D; }


/*headers*/

header h1, h2, h3, h4, h5, h6 { font-family: 'survivant.regular', verdana, sans-serif; 
	height: 10px;
	margin-bottom: 20px; }

header { height: 150px;
	 margin-top: 5px;
	 margin-bottom: 0px; 
	 background: url(images/homehead.jpg) no-repeat;
	 background-size: 728px; }

header h1, header p {text-indent: -99999999999999px; }

h1 {text-indent: -99999999999999px; }

h2 { text-align: center; 
	padding-top: 0 px; }



/*styling buttons on homepage*/
.buttons { padding: 10px; }

/*styling nav bar */

nav ul { list-style-type: none;
	margin: auto;
	padding: 0; 
	overflow: hidden;
	background-color: #6e6e6e;
	display: flex;
	justify-content: center; 
	font-size: 110%; }

.nav li { float: left; }

.nav li a { display: block;
	    color: white;
	    text-align: center; 
	    padding: 14px 16px; }

.nav li a:hover { background-color: #D48911 }



/*center images*/

.center {display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px; }

/*tables*/

.contestants {  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: none ; } 


	/*styling contestant images*/

	.contestants img { border: 2px solid #3B3B3B;  }

/*styling points table*/

.totals {  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid white;
  background-color: #525150; }

.totals tr:hover { background-color: #D48911;  }

.totals th, .totals td {border: 1px solid white; }

th, td {padding: 5px; }



/*.name { color: white;
	background-color: #525150;
	text-align: left;}*/

caption { font-family: 'survivant.regular';  
	font-weight: bold;
	font-size: 20px; 
	margin-top: px; }

/*styling table footnote*/
.tfoot { text-align: center; }


/*text formatting*/
.whisper { margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	margin-bottom: 1px; }

/*rules text formatting*/

.rules article {background: rgba(38, 38, 38, 0.5); }

/*footer*/


footer { clear:both;
	padding: 10px; 
	font-size: 75%; 
	height: 1%; }


/*styling collapsible buttons*/


details {border: 1px solid grey;
	border-radius: 5px;
	padding: 1px 1px 1px; 
	background-color: #525150;
	cursor: pointer;
	margin-bottom: 2px; }

summary { font-weight: bold;
	margin: 1px 1px 0;
	padding: 1px; }

details[open] { padding: 1px; }

details[open] summary { border-bottom: 1px solid white;
			margin-bottom: 1px; }
	
.picks {list-style-type: none;}
		



